
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head lang="@localization_Test.Helpers.CultureHelper.GetCurrentNeutralCulture()" dir="@(localization_Test.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site.css" type="text/css" rel="stylesheet"/>
    <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <header><ul>
        <li><a href="/en-US">en-US</a></li>
        <li><a href="/zh-CN">zh-CN</a></li></ul></header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>
